<div class="swiper howitview-slider">
    <div class="swiper-wrapper howitview-slider__wrapper">
        <div class="swiper-slide howitview__slide">
            <div class="howitview__slide-box"></div>
        </div>
        <div class="swiper-slide howitview__slide">
            <div class="howitview__slide-box"></div>
        </div>
        <div class="swiper-slide howitview__slide">
            <div class="howitview__slide-box"></div>
        </div>
        <div class="swiper-slide howitview__slide">
            <div class="howitview__slide-box"></div>
        </div>
        <div class="swiper-slide howitview__slide">
            <div class="howitview__slide-box"></div>
        </div><div class="swiper-slide howitview__slide">
            <div class="howitview__slide-box"></div>
        </div>

    </div>
    <div class="swiper-pagination howitview-pagination"></div>
</div>