<div class="read-more">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sit eaque alias voluptatem facere
        modi consequatur placeat. Alias, id sit!<span id="dots">...</span><span id="more">Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Velit dolorum in pariatur illum soluta labore
            voluptates, excepturi, odio perspiciatis doloremque est tempore magnam, eos ratione temporibus.
            Aut unde tempora provident!</span></p>
</div>
<button id="read-btn">Читать дальше</button>